.baseButton{
    border: 0px;
    border-radius: .5em;
}
.btn{
    background: rgb(173, 242, 243);
    color: black;
    border: 2px solid rgb(69, 98, 99);
    padding: 3em;
    margin-top: 2em;
}

.btn:hover{
    background: rgb(146, 250, 252);
}

.action{
    background-color: #07070D;
    color: azure;
}

.form{
    background: #8C4830;
    color: #ffffff;
    padding: 1em 3em 1em 3em;
}
.compactForm{
    display: flex;
    background: #8C4830;
    color: #ffffff;
    padding: 0.8em 1.5em 0.8em 1.5em;
}
.formUnactive{
    background: #D0D8D9;
    color: #000000;
}

.defaultSM, .actionSM{
    padding: .7em;
    padding-top: .5em; 
    padding-bottom: .5em; 
    color: #000000;
    background: #e9e9ed;
    display: flex;
}

.actionSM{
    background-color: #07070D;
    color: azure;
}

.default{
    color: #000000;
    background-color: #e9e9ed;
}

.defaultButton{
    background-color: #D0D8D9;
    /*padding: 0.4em;
    padding: .7em 1em .7em 1em;*/
    margin-top: 2em;
    border: 0px;
    border-radius: .5em;
}

.primary{
    background: #D0D8D9;
    color: #07070D;
}
.primaryBrown{
    background: #8C4830;
    color: #ffffff;
}

.defaultButton span{
    font-size: 10px;
    font-weight: bold;
}

.tableHeader{
    padding: .3em;
    height: 2em;
    width: 2em;
    background-color: #e9e9ed;
}
.tableAction{
    padding: .4em;
    background-color: #e9e9ed;
}
.sectionFooter{
    padding: .6em 2.5em .6em 2.5em;
    font-size: .8em;
    margin-left: auto;
    margin-right: auto;
    background: #8C4830;
    color: #FFFFFF;
    border: 1px solid #8C4830;
    border-radius: 1em;
}