.contentRoot{
    flex-direction: row;
    width: 100%;
    background: #07070D;
    display: flex;
    justify-content: space-between;
}

.mainContent{
    background: #F3F3F3;
    flex-direction: column;
    padding: 1em;
    height: 80vh;
    width: 100%;
}

.contentSection{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.sectionWrapper{
    display: grid;
    grid-template-rows: 8vh auto 8vh;
}

.sectionData{
    height: 55vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contentSectionFooter{
    background: #F3F3F3;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    border-top: 2px solid #8C4830;
}