.contentRoot{
    flex-direction: row;
    width: 100%;
    background: #07070D;
    display: flex;
    justify-content: space-between;
}

.mainContent{
    background: #F3F3F3;
    flex-direction: column;
    padding: 1em;
    height: 80vh;
    width: 100%;
}

.contentSection{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.sectionWrapper{
    display: grid;
    grid-template-rows: 7.5vh auto 10vh;
}

.sectionData{
    height: 65vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentSectionFooter{
    background: #F3F3F3;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid #8C4830;
}

.formBackround{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: baseline;
    background: hwb(0 100% 0% / 0.85);
    overflow: hidden;
    z-index: 99999;
}

.formContent{
    background: #ffffff;
    min-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 4.5em;
    margin: 1em auto 1em auto;
    min-height: 610px;
    color: #07070D;
    display: grid;
    grid-template-rows: .2fr .65fr auto;
}
.formFieldWrapper{
    display: grid;
    grid-template-columns: 18fr 18fr;
}
.formFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.rightColumn{
    margin-left: 1.5em;
}