body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(0, 0%, 0%, 0.975);
  min-height: 100vh;
}

#root{
  width: 100%;
}

@media (min-width: 800px) {
  body {
    display: flex;
    place-items: center;
  }
}

h3,h2{
    text-align: center;
}

table{
    color: #000;
    font-size: .85em;
    scrollbar-width: thin;
}
